<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isNeedWaterMark</key>
	<false/>
	<key>liveDetectViewColor</key>
	<dict>
		<key>color</key>
		<string>#026986</string>
	</dict>
	<key>navViewColor</key>
	<dict>
		<key>color</key>
		<string>#0085aa</string>
	</dict>
	<key>progressNormalColor</key>
	<dict>
		<key>color</key>
		<string>#004b5e</string>
	</dict>
	<key>progressLoopingColor</key>
	<dict>
		<key>color</key>
		<string>#ffa500</string>
	</dict>
	<key>remindLabel</key>
	<dict>
		<key>brightText</key>
		<string>光线过亮,请换个环境</string>
		<key>darkText</key>
		<string>光线过暗,请打开灯光</string>
		<key>size</key>
		<string>21</string>
		<key>color</key>
		<string>#ffffff</string>
	</dict>
	<key>toastLabel</key>
	<dict>
		<key>faceGuideText</key>
		<string>请将脸部置于提示框中</string>
		<key>keepStillText</key>
		<string>请注视屏幕</string>
		<key>nodHeadText</key>
		<string>请缓慢点头</string>
		<key>shakeHeadText</key>
		<string>请缓慢摇头</string>
		<key>openMouthText</key>
		<string>请张下嘴</string>
		<key>blinkEyesText</key>
		<string>请眨下眼</string>
		<key>movePhoneText</key>
		<string>请上下移动手机</string>
		<key>detectFailText</key>
		<string>检测失败</string>
		<key>detectSuccessText</key>
		<string>检测成功</string>
		<key>size</key>
		<string>21</string>
		<key>color</key>
		<string>#ffffff</string>
	</dict>
	<key>navLabel</key>
	<dict>
		<key>text</key>
		<string>身份检测</string>
		<key>size</key>
		<string>22</string>
		<key>color</key>
		<string>#ffffff</string>
	</dict>
</dict>
</plist>
